/ACR/.idea
/ACR/out
/ACR/ACR.iml
/Core/DataBase/out
/Core/DataBase/.idea
/Core/DataBase/*.iml
.metadata
.recommenders
ContentInn/out
ContentInn/.settings
ContentInn/.project
ContentInn/.idea
ContentInn/ContentInn.iml
ContentInn/test-output
ContentInn/build
/ACR/src/TestForTest.java
/ACR/build
/Core/DataBase/target
target
/Core/DataBase/src/db/SQL_1.java
.idea
ACR/.classpath
ACR/.project
ACR/.settings/
Core/.classpath
Core/.project
Core/.settings/
/Core/src/db/SQL_1.java
/Core/libs/chromedriver.exe
/Core/.idea
/Core/Core.iml
/ContentInn/ContentInn.iml
/ContentInn/.classpath
/ContentInn/.project
/ACR/response.sql
/project-root.iml
